// Foundation
@import 'config';
@import 'grid';
@import 'colours';
@import 'base';

// Components
@import 'components/banner';
@import 'components/brand';
@import 'components/nav';
@import 'components/social';

.aside {
  float: right;
}

.brand {
  font-size: 48px;
  font-style: italic;
  text-decoration: none;
  color: $c-black;
}