.article {
  margin-top: 3 * $half-unit;
  margin-bottom: 3 * $half-unit;
}

.article__header {
  margin-bottom: $unit;
}

.article__title {
  margin-bottom: $half-unit;
}

.article__meta {
  display: block;
  margin-bottom: $unit;
  color: $c-grey;
}

.article__image {
  // margin-bottom: $half-unit;
}