.more {
  display: block;
  margin-bottom: $unit;
}

.more__list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.more__item {
  margin-bottom: $half-unit;
}

.more--aside {
  display: none;

  @media screen and (min-width: $wide) {
    display: block;
    float: right;
    margin-left: $unit;
  }
}

.more--footer {
  
  @media screen and (min-width: $wide) {
    @include visually-hidden; 
  }
}
