.nav {
  text-align: center;
}

.nav__label {

  display: inline-block;
  margin-bottom: $unit;
  padding: $half-unit;
  font-size: 14px;
  border: 1px solid $c-light-grey;
  border-radius: $unit;
  text-transform: uppercase;
  
  &:hover {
    cursor: pointer;
    background-color: $c-white;
    color: $c-brand-primary;
    border-color: $c-white;
  } 
}

.nav__toggle {
  display: none;
  
  &:checked + .nav__list {
    position: static;
  }
}

.nav__list {
  
  display: block;
  margin: 0;
  padding: 0 0 $unit 0;
  
  // No :unchecked unfortunately (http://stackoverflow.com/a/9773961/186965)
  // So... quick visually-hidden that's easy to reset with "position: static"
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav__item {
  display: block;
}
 
.nav__link {
  display: block;
  padding: $half-unit 0;
  text-decoration: none;
  
  color: $c-white;
  
  &:hover {
    color: $c-brand-shadow;
  }
}

@media screen and (min-width: $wide) {

  .nav__label {
    display: none; 
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    position: static; // Reset
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    display: block;
    text-align: center;
  }

  .nav__link {
    display: block;
    padding: $half-unit 0;
    font-size: 20px;
  }
}