.social {
  position: fixed;
  bottom: 0;
  left: $unit;
  right: $unit;
  margin: 0;
  padding: $half-unit;
  list-style: none;
  text-align: center;
  background-color: rgba($c-white, 0.75);
  border-top: 1px solid $c-grey;
  border-left: 1px solid $c-grey;
  border-right: 1px solid $c-grey;
  
  @media screen and (min-width: $wide) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    border: none;
    background-color: transparent;
  }
}

.social__item {
  display: inline-block;
  padding: $half-unit;
}

.social__link {
  padding: $half-unit;
  border-radius: $double-unit;
  font-weight: bold;
  font-size: 20px;
  background-color: $c-brand-shadow;
  color: $c-white;
}

.social__link:hover {
  color: $c-black;
  background-color: $c-white;
}