@mixin grid {
  margin-left: -$unit;
}

@mixin grid__cell {
  display: inline-block;
  vertical-align: top;
  padding-left: $unit;
}

.grid {
  @include grid;
}

.grid__cell {
  @include grid__cell;
}

@media screen and (min-width: $wide) {
  .grid__cell--one-quarter-at-wide {
    width: 1 / 4 * 100%;
  }
}

@media screen and (min-width: $wide) {
  .grid__cell--three-quarters-at-wide {
    width: 3 / 4 * 100%;
  }
}